

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;

    .icon {
        height: 45px;
        width: 100%;
        margin: 5px;
        transition: 0.3s;
        &:hover {
            transform: scale(1.1);
            transition: 0.3s;
        }
        .title {
            font-size: 12px;
        }
        img {
            height: 35px;
            width: 35px;
            cursor: pointer;
        }
    
        label {
            height: 100%;
            width: 100%;
        }
    
        input:checked + label img {
            border-radius: 100%;
            box-shadow: 0 0 5px 3px rgb(1, 168, 29);
        }
    }
}